* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(sources/Background-Laptop.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: consolas, sans-serif;
}

#logo {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -25%);
  animation: fill 1s ease forwards 3.4s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 381;
  stroke-dashoffset: 381;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2) {
  stroke-dasharray: 310;
  stroke-dashoffset: 310;
  animation: line-anim 2s ease forwards 0.2s;
}

#logo path:nth-child(3) {
  stroke-dasharray: 295;
  stroke-dashoffset: 295;
  animation: line-anim 2s ease forwards 0.4s;
}

#logo path:nth-child(4) {
  stroke-dasharray: 310;
  stroke-dashoffset: 310;
  animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(5) {
  stroke-dasharray: 199;
  stroke-dashoffset: 199;
  animation: line-anim 2s ease forwards 0.8s;
}

#logo path:nth-child(6) {
  stroke-dasharray: 307;
  stroke-dashoffset: 307;
  animation: line-anim 2s ease forwards 1s;
}

#logo path:nth-child(7) {
  stroke-dasharray: 299;
  stroke-dashoffset: 299;
  animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(8) {
  stroke-dasharray: 299;
  stroke-dashoffset: 299;
  animation: line-anim 2s ease forwards 1.4s;
}

#logo path:nth-child(9) {
  stroke-dasharray: 310;
  stroke-dashoffset: 310;
  animation: line-anim 2s ease forwards 1.6s;
}

#logo path:nth-child(10) {
  stroke-dasharray: 323;
  stroke-dashoffset: 323;
  animation: line-anim 2s ease forwards 1.8s;
}

#logo path:nth-child(11) {
  stroke-dasharray: 366;
  stroke-dashoffset: 366;
  animation: line-anim 2s ease forwards 2s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

.first-content {
  height: 100vh;
  width: 55vw;
  display: flex;
  background-color: rgb(30, 33, 51, 0.9);
}

.competences {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: consolas, sans-serif;
  background: #333;
  justify-content: space-between;
  justify-content: space-around;
}

.competences .card {
  position: relative;
}

.competences .card .face {
  width: 375px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  transition: 0.5s;
}

.competences .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(125px);
}

.competences .card:hover .face.face1 {
  background: rgb(131, 29, 29);
  transform: translateY(0);
  box-shadow: 0 20px 50px rgb(0, 0, 0, 0.8);
}

.competences .card .face.face1 .content {
  opacity: 0.3;
  transition: 0.5s;
}

.competences .card:hover .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.competences .card .face.face1 .content img {
  max-width: 100px;
}

.competences .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.competences .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgb(0, 0, 0, 0.8);
  transform: translateY(-125px);
}

.competences .card:hover .face.face2 {
  transform: translateY(0);
}

.competences .card .face.face2 .content p,
.competences .card .face.face2 .content ul,
.competences .card .face.face2 .content li {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  color: #333;
}

.competences .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.competences .card .face.face2 .content a:hover {
  background: #333;
  color: #fff;
}

.projets {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  min-height: 1000px !important;
  position: relative;
  display: inline-block;
  color: #fff;
  font-family: consolas;
  background: rgb(131, 29, 29);
  justify-content: space-between;
  justify-content: space-around;
}

.projets h2 {
  position: relative;
  text-align: center;
  font-size: 3em;
  padding: 30px 0 30px 0;
}

/*.projets .container {
  height: 800px;
  width: 1500px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}*/

.projets /*.container*/ .box {
  position: relative;
  width: calc(500px - 30px);
  height: calc(400px - 30px);
  background: #000;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
}

.projets /*.container*/ .box:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleY(0);
  opacity: 0;
  z-index: 1;
}

.projets /*.container*/ .box:hover:before {
  transform: scaleY(1);
  opacity: 1;
}

.projets /*.container*/ .box:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleX(0);
  opacity: 0;
  z-index: 1;
}

.projets /*.container*/ .box:hover:after {
  transform: scaleX(1);
  opacity: 1;
}

.projets /*.container*/ .box .imgBox {
  position: relative;
}

.projets /*.container*/ .box .imgBox img {
  width: 100%;
  transition: 0.5s;
}

.projets /*.container*/ .box:hover .imgBox img {
  opacity: 0.2;
  transform: scale(1.2);
}

.projets /*.container*/ .box .projectContent {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.projets /*.container*/ .box .projectContent h2 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  transition: 0.5s;
  transform: translateY(-50px);
  visibility: hidden;
  opacity: 0;
}

.projets /*.container*/ .box .projectContent p {
  margin: 0;
  padding: 0;
  color: #fff;
  transition: 0.5s;
  transform: translateY(50px);
  visibility: hidden;
  opacity: 0;
}

.projets /*.container*/ .box:hover .projectContent h2,
.projets /*.container*/ .box:hover .projectContent p {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition-delay: 0.2s;
}

.social-media {
  margin: 0;
  padding: 0;
  height: 50vh;
  min-height: 250px;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media ul {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.social-media ul li {
  position: relative;
  list-style: none;
  width: 120px;
  height: 120px;
  margin: 0 60px;
  transform: rotate(-30deg) skew(25deg);
  background: #ccc;
}

.social-media ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transition: 0.5s;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 40px !important;
}

.social-media ul li:hover span {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
}

.social-media ul li:hover span:nth-child(5) {
  transform: translate(60px, -60px);
  opacity: 1;
}

.social-media ul li:hover span:nth-child(4) {
  transform: translate(45px, -45px);
  opacity: 0.8;
}

.social-media ul li:hover span:nth-child(3) {
  transform: translate(30px, -30px);
  opacity: 0.6;
}

.social-media ul li:hover span:nth-child(2) {
  transform: translate(15px, -15px);
  opacity: 0.4;
}

.social-media ul li:hover span:nth-child(1) {
  transform: translate(0, 0);
  opacity: 0.2;
}

.social-media ul li:nth-child(1) span {
  background: #0e76a8;
}

.social-media ul li:nth-child(2) span {
  background: #db4437;
}

.social-media ul li:nth-child(3) span {
  background: #171515;
}

.social-media ul li:nth-child(4) span {
  background: #e2432a;
}

@media screen and (max-width: 1200px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    height: 100vh;
    background-image: url(sources/Background1280.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .first-content {
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 100vh;
    width: 100%;
  }

  #logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*.projets {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: consolas, sans-serif;
    background: rgb(131, 29, 29);
    justify-content: space-between;
    justify-content: space-around;
  }

  .projets .container {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }*/

  .competences {
    min-height: 100vh;
    width: 100%;
    font-family: consolas, sans-serif;
    background: #333;
  }

  .competences .card .face {
    height: 265px;
    width: 400px;
  }

  .competences .card .face.face1 {
    transform: translateY(130px);
  }

  .competences .card .face.face2 {
    transform: translateY(-130px);
  }
}
